@font-face {
  font-family: "Futura Book";
  src: url("/zenith-assets/fonts/futura-book.ttf");
}

@font-face {
  font-family: "Futura Heavy";
  src: url("/zenith-assets/fonts/futura-heavy.ttf");
}

/*Base styles*/

body {
  font-family: "Futura Book";
  margin: 0;
}

.footer {
  background: linear-gradient(0.75turn, #ab00ff, #007bff);
}

/*Layout styles*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

@media screen and (max-width: 600px) {
  nav > li {
    display: none;
  }

  nav {
    background-image: url("https://cdn2.iconfinder.com/data/icons/clean-minimal-set/16/open-menu-01-512.png");
  }

  img.integration {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  h2.features {
    margin-bottom: 50px;
    font-size: 20px;
  }

  img.feature__image {
    width: 40px;
    height: 60px;
  }

  img.logo {
    width: 125px;
  }

  div.feature {
    margin-bottom: 15px;
  }

  .mobile_nav {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .mobile_nav {
    display: none;
  }
}

.hero {
  margin-top: 75px;
  width: 100%;
}

.hero__bg {
  width: 100%;
  object-fit: contain;
  top: 30%;
  left: 0;
}

.hero__cards {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
}

/*Block styles*/

.mobile_nav {
  width: 50px;
  height: 50px;
}

.greeting {
  font-size: 5vw;
  font-family: "Futura Heavy";
  position: absolute;
  top: 15%;
  left: 8%;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.features_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  max-width: 330px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 8px;
}

.feature__image {
  object-fit: contain;
  width: 40px;
  height: 60px;
}

.integrations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
}

.integration {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8%;
}

nav > li {
  list-style-type: none;
  margin-left: 25px;
  font-size: 15px;
  font-family: "Futura Heavy";
}

li > a {
  text-decoration: none;
  color: black;
}
/*Element styles*/

.logo {
  position: absolute;
  width: 150px;
  height: auto;
  left: 8%;
}

.message {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  display: block;
}

.features {
  font-family: "Futura Book";
  text-align: center;
  font-size: 4vw;
  background: -webkit-linear-gradient(0.75turn, #ab00ff, #007bff);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

.products {
  margin-top: 10%;
  margin-bottom: 10%;
}

.zenith-dashboard {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  max-width: 100%;
}

.footer_texture {
  width: 100%;
  background-size: cover;
}

.get_zenith {
  font-size: 5vw;
  text-align: center;
  color: white;
}

.get_zenith_button {
  color: white;
  background: linear-gradient(0.75turn, #ab00ff, #007bff);
  padding: 12px 32px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.15);
}

.email_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_nav {
  list-style-type: none;
  text-align: right;
}
